body {
	font-family: sans-serif;
	background-color: #EBEBEB;
}

.text, .output {
	padding: 10px;
}

.word {
	line-height: 1.5em;
	margin-right: 10px;
}

.word:after {
	content: attr(data-word-type-name);
	color: gray;
	position: relative;
	top: 5px;
	font-size: 60%;
}

/* verbs */
.word[data-word-type^=VB] {
	color: green;
	font-weight: bold;
	font-style: italic;
}

.word[data-word-type^=V_VM] {
	color: #00E676;
	font-weight: bold;
	font-style: italic;
}

.word[data-word-type^=V_VAUX] {
	color: #00C853;
	font-weight: bold;
	font-style: italic;
}

/* nouns */
.word[data-word-type^=N] {
	color: blue;
	font-style: bold;
}

/* adjectives */
.word[data-word-type=JJ] {
	color: orange;
	font-weight: bold;
	margin-right: 5px;
}

/* Conjunction & Postposition */
.word[data-word-type=CC] {
	color: #C51162;
	font-weight: bold;
	margin-right: 5px;
}

.word[data-word-type=PSP] {
	color: #F50057;
	font-weight: bold;
	margin-right: 5px;
}

.demo-card-square {
	margin: 10px auto;
	width: 95%;
}

.mdl-textfield {
	width: 100%;
}

.mdl-card__supporting-text {
	width: calc(100% - 32px);
}

.mdl-card--expand {
	background: #46B6AC;
}
/*
.word[data-word-type=JJ]:after {
display: none;
}
*/
